---
http_interactions:
- request:
    method: get
    uri: http://swapi.co/api/films/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":6,"next":null,"previous":null,"results":[{"title":"A New Hope","episode_id":4,"opening_crawl":"It
        is a period of civil war.\r\nRebel spaceships, striking\r\nfrom a hidden base,
        have won\r\ntheir first victory against\r\nthe evil Galactic Empire.\r\n\r\nDuring
        the battle, Rebel\r\nspies managed to steal secret\r\nplans to the Empire''s\r\nultimate
        weapon, the DEATH\r\nSTAR, an armored space\r\nstation with enough power\r\nto
        destroy an entire planet.\r\n\r\nPursued by the Empire''s\r\nsinister agents,
        Princess\r\nLeia races home aboard her\r\nstarship, custodian of the\r\nstolen
        plans that can save her\r\npeople and restore\r\nfreedom to the galaxy....","director":"George
        Lucas","producer":"Gary Kurtz, Rick McCallum","characters":["http://swapi.co/api/people/1/","http://swapi.co/api/people/2/","http://swapi.co/api/people/3/","http://swapi.co/api/people/4/","http://swapi.co/api/people/5/","http://swapi.co/api/people/6/","http://swapi.co/api/people/7/","http://swapi.co/api/people/8/","http://swapi.co/api/people/9/","http://swapi.co/api/people/10/","http://swapi.co/api/people/12/","http://swapi.co/api/people/13/","http://swapi.co/api/people/14/","http://swapi.co/api/people/15/","http://swapi.co/api/people/16/","http://swapi.co/api/people/18/","http://swapi.co/api/people/19/","http://swapi.co/api/people/81/"],"planets":["http://swapi.co/api/planets/2/","http://swapi.co/api/planets/3/","http://swapi.co/api/planets/1/"],"starships":["http://swapi.co/api/starships/2/","http://swapi.co/api/starships/3/","http://swapi.co/api/starships/5/","http://swapi.co/api/starships/9/","http://swapi.co/api/starships/10/","http://swapi.co/api/starships/11/","http://swapi.co/api/starships/12/","http://swapi.co/api/starships/13/"],"vehicles":["http://swapi.co/api/vehicles/4/","http://swapi.co/api/vehicles/6/","http://swapi.co/api/vehicles/7/","http://swapi.co/api/vehicles/8/"],"species":["http://swapi.co/api/species/2/","http://swapi.co/api/species/4/","http://swapi.co/api/species/5/","http://swapi.co/api/species/1/","http://swapi.co/api/species/3/"],"created":"2014-12-10T14:23:31.880000Z","edited":"2014-12-20T19:49:45.256000Z","url":"http://swapi.co/api/films/1/"},{"title":"The
        Empire Strikes Back","episode_id":5,"opening_crawl":"It is a dark time for
        the\r\nRebellion. Although the Death\r\nStar has been destroyed,\r\nImperial
        troops have driven the\r\nRebel forces from their hidden\r\nbase and pursued
        them across\r\nthe galaxy.\r\n\r\nEvading the dreaded Imperial\r\nStarfleet,
        a group of freedom\r\nfighters led by Luke Skywalker\r\nhas established a
        new secret\r\nbase on the [...]
- request:
    method: get
    uri: http://swapi.co/api/species/schema
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"type": "object", "properties": {"edited": {"type": "string", "description":
        "the ISO 8601 date format of the time that this resource was edited."}, "average_lifespan":
        {"type": "string", "description": "The average lifespan of this species in
        years."}, "average_height": {"type": "string", "description": "The average
        height of this person in centimeters."}, "designation": {"type": "string",
        "description": "The designation of this species."}, "films": {"type": "array",
        "description": " An array of Film URL Resources that this species has appeared
        in."}, "name": {"type": "string", "description": "The name of this species."},
        "skin_colors": {"type": "string", "description": "A comma-seperated string
        of common skin colors for this species, none if this species does not typically
        have skin."}, "url": {"type": "string", "description": "The hypermedia URL
        of this resource."}, "hair_colors": {"type": "string", "description": "A comma-seperated
        string of common hair colors for this species, none if this species does not
        typically have hair."}, "homeworld": {"type": "string", "description": "The
        URL of a planet resource, a planet that this species originates from."}, "eye_colors":
        {"type": "string", "description": "A comma-seperated string of common eye
        colors for this species, none if this species does not typically have eyes."},
        "classification": {"type": "string", "description": "The classification of
        this species."}, "created": {"type": "string", "description": " the ISO 8601
        date format of the time that this resource was created."}}, "title": "People",
        "$schema": "http://json-schema.org/draft-04/schema", "description": "A species
        within the Star Wars universe", "required": ["name", "height", "mass", "hair_color",
        "skin_color", "eye_color", "birth_year", "gender", "homeworld", "films", "species",
        "vehicles", "starships", "url"]}'
  recorded_at: Mon, 16 Feb 2015 23:37:33 GMT
- request:
    method: get
    uri: http://swapi.co/api/starships/schema
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"type": "object", "properties": {"edited": {"type": "string", "description":
        "the ISO 8601 date format of the time that this resource was edited."}, "length":
        {"type": "string", "description": "The length of this starship in meters."},
        "pilots": {"type": "array", "description": "An array of People URL Resources
        that this starship has been piloted by."}, "crew": {"type": "string", "description":
        "The number of personnel needed to run or pilot this starship."}, "starship_class":
        {"type": "string", "description": "The class of this starship, such as Starfighter
        or Deep Space Mobile Battlestation."}, "consumables": {"type": "string", "description":
        "The maximum length of time that this starship can provide consumables for
        it''s entire crew without having to resupply."}, "MGLT": {"type": "string",
        "description": "The Maximum number of Megalights this starship can travel
        in a standard hour. A Megalight is a standard unit of distance and has never
        been defined before within the Star Wars universe. This figure is only really
        useful for measuring the difference in speed of starships. We can assume it
        is similar to AU, the distance between our Sun (Sol) and Earth."}, "manufacturer":
        {"type": "string", "description": "The manufacturer of this starship. Comma
        seperated if more than one."}, "cargo_capacity": {"type": "string", "description":
        "The maximum number of kilograms that this starship can transport."}, "name":
        {"type": "string", "description": "The name of this starship. The common name,
        such as Death Star."}, "hyperdrive_rating": {"type": "string", "description":
        "The class of this starships hyperdrive."}, "max_atmosphering_speed": {"type":
        "string", "description": "The maximum speed of this starship in atmosphere.
        n/a if this starship is incapable of atmosphering flight."}, "passengers":
        {"type": "string", "description": "The number of non-essential people this
        starship can transport."}, "cost_in_credits": {"type": "string", "description":
        "The cost of this starship new, in galactic credits."}, "model": {"type":
        "string", "description": "The model or official name of this starship. Such
        as T-65 X-wing or DS-1 Orbital Battle Station."}, "films": {"type": "array",
        "description": "An array of Film URL Resources that this starship has appeared
        in."}, "created": {"type": "string", "description": "The ISO 8601 date format
        of the time that this resource was created."}, "url": {"type": "string", "description":
        "The hypermedia URL of this resource."}}, "title": "Starship", "$schema":
        "http://json-schema.org/draft-04/schema", "description": "A Starship", "required":
        ["name", "model", "manufacturer", "cost_in_credits", "length", "max_atmosphering_speed",
        "crew", "passengers", "cargo_capacity", "consumables", "hyperdrive_rating",
        "MGLT", "starship_class", "pilots", "films", "created", "edited", "url"]}'
  recorded_at: Mon, 16 Feb 2015 23:37:34 GMT
- request:
    method: get
    uri: http://swapi.co/api/planets/schema
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"type": "object", "properties": {"diameter": {"type": "string", "description":
        "The diameter of this planet in kilometers."}, "edited": {"type": "string",
        "description": "the ISO 8601 date format of the time that this resource was
        edited."}, "gravity": {"type": "string", "description": "A number denoting
        the gravity of this planet. Where 1 is normal."}, "terrain": {"type": "string",
        "description": "the terrain of this planet. Comma-seperated if diverse."},
        "name": {"type": "string", "description": "The name of this planet."}, "url":
        {"type": "string", "description": "The hypermedia URL of this resource."},
        "climate": {"type": "string", "description": "The climate of this planet.
        Comma-seperated if diverse."}, "rotation_period": {"type": "string", "description":
        "The number of standard hours it takes for this planet to complete a single
        rotation on it''s axis."}, "surface_water": {"type": "string", "description":
        "The percentage of the planet surface that is naturally occuring water or
        bodies of water."}, "population": {"type": "string", "description": "The average
        populationof sentient beings inhabiting this planet."}, "films": {"type":
        "array", "description": "An array of Film URL Resources that this planet has
        appeared in."}, "created": {"type": "string", "description": "The ISO 8601
        date format of the time that this resource was created."}, "residents": {"type":
        "array", "description": "An array of People URL Resources that live on this
        planet."}, "orbital_period": {"type": "string", "description": "The number
        of standard days it takes for this planet to complete a single orbit of it''s
        local star."}}, "title": "Planet", "$schema": "http://json-schema.org/draft-04/schema",
        "description": "A planet.", "required": ["name", "rotation_period", "orbital_period",
        "diameter", "climate", "gravity", "terrain", "surface_water", "population",
        "residents", "films", "created", "edited", "url"]}'
  recorded_at: Mon, 16 Feb 2015 23:37:36 GMT
- request:
    method: get
    uri: http://swapi.co/api/vehicles/schema
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"type": "object", "properties": {"edited": {"type": "string", "description":
        "the ISO 8601 date format of the time that this resource was edited."}, "length":
        {"type": "string", "desc[...]
- request:
    method: get
    uri: http://swapi.co/api/people/schema
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"type": "object", "properties": {"eye_color": {"type": "string", "description":
        "The eye color of this person."}, "homeworld": {"type": "string", "description":
        "The url of the planet resource that this person was born on."}, "mass": {"type":
        "string", "description": "The mass of this person in kilograms."}, "height":
        {"type": "string", "description": "The height of this person in meters."},
        "films": {"type": "array", "description": "An array of urls of film resources
        that this person has been in."}, "name": {"type": "string", "description":
        "The name of this person."}, "birth_year": {"type": "string", "description":
        "The birth year of this person. BBY (Before the Battle of Yavin) or ABY (After
        the Battle of Yavin)."}, "starships": {"type": "array", "description": "An
        array of starship resources that this person has piloted"}, "skin_color":
        {"type": "string", "description": "The skin color of this person."}, "species":
        {"type": "array", "description": "The url of the species resource that this
        person is."}, "vehicles": {"type": "array", "description": "An array of vehicle
        resources that this person has piloted"}, "hair_color": {"type": "string",
        "description": "The hair color of this person."}, "gender": {"type": "string",
        "description": "The gender of this person (if known)."}, "url": {"type": "string",
        "description": "The url of this resource"}}, "title": "People", "$schema":
        "http://json-schema.org/draft-04/schema", "description": "A person within
        the Star Wars universe", "required": ["name", "height", "mass", "hair_color",
        "skin_color", "eye_color", "birth_year", "gender", "homeworld", "films", "species",
        "vehicles", "starships", "url"]}'
  recorded_at: Mon, 16 Feb 2015 23:37:38 GMT
recorded_with: VCR 2.9.3
