---
http_interactions:
- request:
    method: get
    uri: https://swapi.co/api/films/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a6f57b83572279727b3a9208d0653a82"
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"count":7,"next":null,"previous":null,"results":[{"title":"A New Hope","episode_id":4,"opening_crawl":"It
        is a period of civil war.\r\nRebel spaceships, striking\r\nfrom a hidden base,
        have won\r\ntheir first victory against\r\nthe evil Galactic Empire.\r\n\r\nDuring
        the battle, Rebel\r\nspies managed to steal secret\r\nplans to the Empire''s\r\nultimate
        weapon, the DEATH\r\nSTAR, an armored space\r\nstation with enough power\r\nto
        destroy an entire planet.\r\n\r\nPursued by the Empire''s\r\nsinister agents,
        Princess\r\nLeia races home aboard her\r\nstarship, custodian of the\r\nstolen
        plans that can save her\r\npeople and restore\r\nfreedom to the galaxy....","director":"George
        Lucas","producer":"Gary Kurtz, Rick McCallum","release_date":"1977-05-25","characters":["https://swapi.co/api/people/1/","https://swapi.co/api/people/2/","https://swapi.co/api/people/3/","https://swapi.co/api/people/4/","https://swapi.co/api/people/5/","https://swapi.co/api/people/6/","https://swapi.co/api/people/7/","https://swapi.co/api/people/8/","https://swapi.co/api/people/9/","https://swapi.co/api/people/10/","https://swapi.co/api/people/12/","https://swapi.co/api/people/13/","https://swapi.co/api/people/14/","https://swapi.co/api/people/15/","https://swapi.co/api/people/16/","https://swapi.co/api/people/18/","https://swapi.co/api/people/19/","https://swapi.co/api/people/81/"],"planets":["https://swapi.co/api/planets/2/","https://swapi.co/api/planets/3/","https://swapi.co/api/planets/1/"],"starships":["https://swapi.co/api/starships/2/","https://swapi.co/api/starships/3/","https://swapi.co/api/starships/5/","https://swapi.co/api/starships/9/","https://swapi.co/api/starships/10/","https://swapi.co/api/starships/11/","https://swapi.co/api/starships/12/","https://swapi.co/api/starships/13/"],"vehicles":["https://swapi.co/api/vehicles/4/","https://swapi.co/api/vehicles/6/","https://swapi.co/api/vehicles/7/","https://swapi.co/api/vehicles/8/"],"species":["https://swapi.co/api/species/5/","https://swapi.co/api/species/3/","https://swapi.co/api/species/2/","https://swapi.co/api/species/1/","https://swapi.co/api/species/4/"],"created":"2014-12-10T14:23:31.880000Z","edited":"2015-04-11T09:46:52.774897Z","url":"https://swapi.co/api/films/1/"},{"title":"Attack
        of the Clones","episode_id":2,"opening_crawl":"There is unrest in the Galactic\r\nSenate.
        Several thousand solar\r\nsystems have declared their\r\nintentions to leave
        the Republic.\r\n\r\nThis separatist movement,\r\nunder the leadership of
        the\r\nmysterious Count Dooku, has\r\nmade it difficult for the limited\r\nnumber
        of Jedi Knights to maintain \r\npeace and order in the galaxy.\r\n\r\nSenator
        A[...]
- request:
    method: get
    uri: https://swapi.co/api/species/schema
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f337a6fe1ab94b2cf42ee28d04fa3583"
    body:
      encoding: ASCII-8BIT
      string: '{"$schema": "http://json-schema.org/draft-04/schema", "description":
        "A species within the Star Wars universe", "type": "object", "properties":
        {"language": {"description": "The language commonly spoken by this species.",
        "type": "string"}, "hair_colors": {"description": "A comma-seperated string
        of common hair colors for this species, none if this species does not typically
        have hair.", "type": "string"}, "people": {"description": "An array of People
        URL Resources that are a part of this species.", "type": "array"}, "url":
        {"description": "The hypermedia URL of this resource.", "type": "string",
        "format": "uri"}, "name": {"description": "The name of this species.", "type":
        "string"}, "classification": {"description": "The classification of this species.",
        "type": "string"}, "edited": {"description": "The ISO 8601 date format of
        the time that this resource was edited.", "type": "string", "format": "date-time"},
        "films": {"description": " An array of Film URL Resources that this species
        has appeared in.", "type": "array"}, "skin_colors": {"description": "A comma-seperated
        string of common skin colors for this species, none if this species does not
        typically have skin.", "type": "string"}, "created": {"description": "The
        ISO 8601 date format of the time that this resource was created.", "type":
        "string", "format": "date-time"}, "homeworld": {"description": "The URL of
        a planet resource, a planet that this species originates from.", "type": "string"},
        "eye_colors": {"description": "A comma-seperated string of common eye colors
        for this species, none if this species does not typically have eyes.", "type":
        "string"}, "designation": {"description": "The designation of this species.",
        "type": "string"}, "average_height": {"description": "The average height of
        this person in centimeters.", "type": "string"}, "average_lifespan": {"description":
        "The average lifespan of this species in years.", "type": "string"}}, "required":
        ["name", "classification", "designation", "average_height", "average_lifespan",
        "hair_colors", "skin_colors", "eye_colors", "homeworld", "language", "people",
        "films", "url", "created", "edited"], "title": "People"}'
  recorded_at: Tue, 28 Aug 2018 21:41:31 GMT
- request:
    method: get
    uri: https://swapi.co/api/starships/schema
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fb983a0c2f424c141c4c48fe49d54035"
    body:
      encoding: ASCII-8BIT
      string: '{"$schema": "http://json-schema.org/draft-04/schema", "description":
        "A Starship", "type": "object", "properties": {"passengers": {"description":
        "The number of non-essential people this starship can transport.", "type":
        "string"}, "cargo_capacity": {"description": "The maximum number of kilograms
        that this starship can transport.", "type": "string"}, "consumables": {"description":
        "The maximum length of time that this starship can provide consumables for
        its entire crew without having to resupply.", "type": "string"}, "model":
        {"description": "The model or official name of this starship. Such as T-65
        X-wing or DS-1 Orbital Battle Station.", "type": "string"}, "hyperdrive_rating":
        {"description": "The class of this starships hyperdrive.", "type": "string"},
        "manufacturer": {"description": "The manufacturer of this starship. Comma
        seperated if more than one.", "type": "string"}, "url": {"description": "The
        hypermedia URL of this resource.", "type": "string", "format": "uri"}, "name":
        {"description": "The name of this starship. The common name, such as Death
        Star.", "type": "string"}, "cost_in_credits": {"description": "The cost of
        this starship new, in galactic credits.", "type": "string"}, "starship_class":
        {"description": "The class of this starship, such as Starfighter or Deep Space
        Mobile Battlestation.", "type": "string"}, "created": {"description": "The
        ISO 8601 date format of the time that this resource was created.", "type":
        "string", "format": "date-time"}, "edited": {"description": "the ISO 8601
        date format of the time that this resource was edited.", "type": "string",
        "format": "date-time"}, "films": {"description": "An array of Film URL Resources
        that this starship has appeared in.", "type": "array"}, "length": {"description":
        "The length of this starship in meters.", "type": "string"}, "MGLT": {"description":
        "The Maximum number of Megalights this starship can travel in a standard hour.
        A Megalight is a standard unit of distance and has never been defined before
        within the Star Wars universe. This figure is only really useful for measuring
        the difference in speed of starships. We can assume it is similar to AU, the
        distance between our Sun (Sol) and Earth.", "type": "string"}, "pilots": {"description":
        "An array of People URL Resources that this starship has been piloted by.",
        "type": "array"}, "crew": {"description": "The number of personnel needed
        to run or pilot this starship.", "type": "string"}, "max_atmosphering_speed":
        {"description": "The maximum speed of this starship in atmosphere. n/a if
        this starship is incapable of atmosphering flight.", "type": "string"}}, "required":
        ["name", "model", "manufacturer", "cost_in_credits", "length", "max_atmosphering_speed",
        "crew", "passengers", "cargo_capacity", "consumables", "hyperdrive_rating",
        "MGLT", "starship_class", "pilots", "films", "created", "edited", "url"],
        "title": "Starship"}'
  recorded_at: Tue, 28 Aug 2018 21:41:32 GMT
- request:
    method: get
    uri: https://swapi.co/api/planets/schema
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9ced10d65a09ba891dc66090432fbb9b"
    body:
      encoding: ASCII-8BIT
      string: '{"$schema": "http://json-schema.org/draft-04/schema", "description":
        "A planet.", "type": "object", "properties": {"rotation_period": {"description":
        "The number of standard hours it takes for this planet to complete a single
        rotation on its axis.", "type": "string"}, "url": {"description": "The hypermedia
        URL of this resource.", "type": "string", "format": "uri"}, "orbital_period":
        {"description": "The number of standard days it takes for this planet to complete
        a single orbit of its local star.", "type": "string"}, "population": {"description":
        "The average populationof sentient beings inhabiting this planet.", "type":
        "string"}, "diameter": {"description": "The diameter of this planet in kilometers.",
        "type": "string"}, "name": {"description": "The name of this planet.", "type":
        "string"}, "edited": {"description": "the ISO 8601 date format of the time
        that this resource was edited.", "type": "string", "format": "date-time"},
        "films": {"description": "An array of Film URL Resources that this planet
        has appeared in.", "type": "array"}, "climate": {"description": "The climate
        of this planet. Comma-seperated if diverse.", "type": "string"}, "surface_water":
        {"description": "The percentage of the planet surface that is naturally occuring
        water or bodies of water.", "type": "string"}, "residents": {"description":
        "An array of People URL Resources that live on this planet.", "type": "array"},
        "gravity": {"description": "A number denoting the gravity of this planet.
        Where 1 is normal.", "type": "string"}, "terrain": {"description": "the terrain
        of this planet. Comma-seperated if diverse.", "type": "string"}, "created":
        {"description": "The ISO 8601 date format of the time that this resource was
        created.", "type": "string", "format": "date-time"}}, "required": ["name",
        "rotation_period", "orbital_period", "diameter", "climate", "gravity", "terrain",
        "surface_water", "population", "residents", "films", "created", "edited",
        "url"], "title": "Planet"}'
  recorded_at: Tue, 28 Aug 2018 21:41:33 GMT
- request:
    method: get
    uri: https://swapi.co/api/vehicles/schema
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"414ebd241370c675b716f65f855c8d4b"
    body:
      encoding: ASCII-8BIT
      string: '{"$schema": "http://json-schema.org/draft-04/schema", "description":
        "A vehicle.", "type": "object", "properties": {"passengers":[...]
- request:
    method: get
    uri: https://swapi.co/api/people/schema
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"92478c38b8c53e2f9a0f3688b541668f"
    body:
      encoding: ASCII-8BIT
      string: '{"$schema": "http://json-schema.org/draft-04/schema", "description":
        "A person within the Star Wars universe", "type": "object", "properties":
        {"url": {"description": "The url of this resource", "type": "string", "format":
        "uri"}, "starships": {"description": "An array of starship resources that
        this person has piloted", "type": "array"}, "height": {"description": "The
        height of this person in meters.", "type": "string"}, "hair_color": {"description":
        "The hair color of this person.", "type": "string"}, "name": {"description":
        "The name of this person.", "type": "string"}, "vehicles": {"description":
        "An array of vehicle resources that this person has piloted", "type": "array"},
        "skin_color": {"description": "The skin color of this person.", "type": "string"},
        "mass": {"description": "The mass of this person in kilograms.", "type": "string"},
        "birth_year": {"description": "The birth year of this person. BBY (Before
        the Battle of Yavin) or ABY (After the Battle of Yavin).", "type": "string"},
        "edited": {"description": "the ISO 8601 date format of the time that this
        resource was edited.", "type": "string", "format": "date-time"}, "films":
        {"description": "An array of urls of film resources that this person has been
        in.", "type": "array"}, "species": {"description": "The url of the species
        resource that this person is.", "type": "array"}, "homeworld": {"description":
        "The url of the planet resource that this person was born on.", "type": "string"},
        "gender": {"description": "The gender of this person (if known).", "type":
        "string"}, "eye_color": {"description": "The eye color of this person.", "type":
        "string"}, "created": {"description": "The ISO 8601 date format of the time
        that this resource was created.", "type": "string", "format": "date-time"}},
        "required": ["name", "height", "mass", "hair_color", "skin_color", "eye_color",
        "birth_year", "gender", "homeworld", "films", "species", "vehicles", "starships",
        "url", "created", "edited"], "title": "People"}'
  recorded_at: Tue, 28 Aug 2018 21:41:34 GMT
recorded_with: VCR 2.9.3
