---
http_interactions:
- request:
    method: get
    uri: http://swapi.co/api/planets/1/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"name":"Tatooine","rotation_period":"23","orbital_period":"304","diameter":"10465","climate":"arid","gravity":"1
        standard","terrain":"desert","surface_water":"1","population":"200000","residents":["http://swapi.co/api/people/1/","http://swapi.co/api/people/2/","http://swapi.co/api/people/4/","http://swapi.co/api/people/6/","http://swapi.co/api/people/7/","http://swapi.co/api/people/8/","http://swapi.co/api/people/9/","http://swapi.co/api/people/11/","http://swapi.co/api/people/43/","http://swapi.co/api/people/62/"],"films":["http://swapi.co/api/films/1/","http://swapi.co/api/films/3/","http://swapi.co/api/films/4/","http://swapi.co/api/films/5/","http://swapi.co/api/films/6/"],"created":"2014-12-09T13:50:49.641000Z","edited":"2014-12-21T20:48:04.175778Z","url":"http://swapi.co/api/planets/1/"}'
  recorded_at: Tue, 17 Feb 2015 00:11:46 GMT
recorded_with: VCR 2.9.3
