---
http_interactions:
- request:
    method: get
    uri: https://swapi.co/api/planets/?page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f4e69f13b9c4327fefae681b59797d15"
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"count":61,"next":"https://swapi.co/api/planets/?page=3","previous":"https://swapi.co/api/planets/?page=1","results":[{"name":"Utapau","rotation_period":"27","orbital_period":"351","diameter":"12900","climate":"temperate,
        arid, windy","gravity":"1 standard","terrain":"scrublands, savanna, canyons,
        sinkholes","surface_water":"0.9","population":"95000000","residents":["https://swapi.co/api/people/83/"],"films":["https://swapi.co/api/films/6/"],"created":"2014-12-10T12:49:01.491000Z","edited":"2014-12-20T20:58:18.439000Z","url":"https://swapi.co/api/planets/12/"},{"name":"Mustafar","rotation_period":"36","orbital_period":"412","diameter":"4200","climate":"hot","gravity":"1
        standard","terrain":"volcanoes, lava rivers, mountains, caves","surface_water":"0","population":"20000","residents":[],"films":["https://swapi.co/api/films/6/"],"created":"2014-12-10T12:50:16.526000Z","edited":"2014-12-20T20:58:18.440000Z","url":"https://swapi.co/api/planets/13/"},{"name":"Kashyyyk","rotation_period":"26","orbital_period":"38[...]
