---
http_interactions:
- request:
    method: get
    uri: https://swapi.co/api/species/?page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"19c89a3a11dc907bc9fe2e6f2a044be2"
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"count":37,"next":"https://swapi.co/api/species/?page=3","previous":"https://swapi.co/api/species/?page=1","results":[{"name":"Twi''lek","classification":"mammals","designation":"sentient","average_height":"200","skin_colors":"orange,
        yellow, blue, green, pink, purple, tan","hair_colors":"none","eye_colors":"blue,
        brown, orange, pink","average_lifespan":"unknown","homeworld":"https://swapi.co/api/planets/37/","language":"Twi''leki","people":["https://swapi.co/api/people/45/","https://swapi.co/api/people/46/"],"films":["https://swapi.co/api/films/5/","https://swapi.co/api/films/4/","https://swapi.co/api/films/6/","https://swapi.co/api/films/3/"],"created":"2014-12-20T09:48:02.406000Z","edited":"2014-12-20T21:36:42.169000Z","url":"https://swapi.co/api/species/15/"},{"name":"Aleena","classification":"reptile","designation":"sentient","average_height":"80","skin_colors":"blue,
        gray","hair_colors":"none","eye_colors":"unknown","average_lifespan":"79","homeworld":"https://swapi.co/api/planets/38/","language":"Aleena","people":["https://swapi.co/api/people/47/"],"films":["https://swapi.co/api/films/4/"],"created":"2014-12-20T09:53:16.481000Z","edited":"2014-12-20T21:36:42.171000Z","url":"https://swapi.co/api/species/1[...]
