---
http_interactions:
- request:
    method: get
    uri: https://swapi.co/api/species/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"76de0707e3e38a25482a22019b409970"
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"count":37,"next":"https://swapi.co/api/species/?page=2","previous":null,"results":[{"name":"Hutt","classification":"gastropod","designation":"sentient","average_height":"300","skin_colors":"green,
        brown, tan","hair_colors":"n/a","eye_colors":"yellow, red","average_lifespan":"1000","homeworld":"https://swapi.co/api/planets/24/","language":"Huttese","people":["https://swapi.co/api/people/16/"],"films":["https://swapi.co/api/films/3/","https://swapi.co/api/films/1/"],"created":"2014-12-10T17:12:50.410000Z","edited":"2014-12-20T21:36:42.146000Z","url":"https://swapi.co/api/species/5/"},{"name":"Yoda''s
        species","classification":"mammal","designation":"sentient","average_height":"66","skin_colors":"green,
        yellow","hair_colors":"brown, white","eye_colors":"brown, green, yellow","average_lifespan":"900","homeworld":"https://swapi.co/api/planets/28/","language":"Galactic
        basic","people":["https://swapi.co/api/people/20/"],"films":["https://swapi.co/api/films/2/","https://swapi.co/api/films/5/","https://swapi.co/api/films/4[...]
