---
http_interactions:
- request:
    method: get
    uri: http://swapi.co/api/species/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":37,"next":"http://swapi.co/api/species/?page=2","previous":null,"results":[{"name":"Droid","classification":"artificial","designation":"sentient","average_height":"n/a","skin_colors":"n/a","hair_colors":"n/a","eye_colors":"n/a","average_lifespan":"indefinite","homeworld":null,"language":"n/a","people":["http://swapi.co/api/people/2/","http://swapi.co/api/people/3/","http://swapi.co/api/people/8/","http://swapi.co/api/people/23/"],"films":["http://swapi.co/api/films/1/","http://swapi.co/api/films/2/","http://swapi.co/api/films/3/","http://swapi.co/api/films/4/","http://swapi.co/api/films/5/","http://swapi.co/api/films/6/"],"created":"2014-12-10T15:16:16.259000Z","edited":"2014-12-20T21:36:42.139000Z","url":"http://swapi.co/api/species/2/"},{"name":"Rodian","classification":"sentient","designation":"reptilian","average_height":"170","skin_colors":"green,
        blue","hair_colors":"n/a","eye_colors":"black","average_lifespan":"unknown","homeworld":"http://swapi.co/api/planets/23/","language":"Galatic
        Basic","people":["http://swapi.co/api/people/15/"],"films":["http://swapi.co/api/films/1/"],"created":"2014-12-10T17:05:26.471000Z","edited":"2014-12-20T21:36:42.144000Z","url":"http://swapi.c[...]
