---
http_interactions:
- request:
    method: get
    uri: http://swapi.co/api/species/1/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"name":"Human","classification":"mammal","designation":"sentient","average_height":"180","skin_colors":"caucasian,
        black, asian, hispanic","hair_colors":"blonde, brown, black, red","eye_colors":"brown,
        blue, green, hazel, grey, amber","average_lifespan":"120","homeworld":"http://swapi.co/api/planets/9/","language":"Galactic
        Basic","people":["http://swapi.co/api/people/1/","http://swapi.co/api/people/4/","http://swapi.co/api/people/5/","http://swapi.co/api/people/6/","http://swapi.co/api/people/7/","http://swapi.co/api/people/9/","http://swapi.co/api/people/10/","http://swapi.co/api/people/11/","http://swapi.co/api/people/12/","http://swapi.co/api/people/14/","http://swapi.co/api/people/18/","http://swapi.co/api/people/19/","http://swapi.co/api/people/21/","http://swapi.co/api/people/22/","http://swapi.co/api/people/25/","http://swapi.co/api/people/26/","http://swapi.co/api/people/28/","http://swapi.co/api/people/29/","http://swapi.co/api/people/32/","http://swapi.co/api/people/34/","http://swapi.co/api/people/35/","http://swapi.co/api/people/43/","http://swapi.co/api/people/51/","http://swapi.co/api/people/60/","http://swapi.co/api/people/61/","http://swapi.co/api/people/62/","http://swapi.co/api/people/66/","http://swapi.co/api/people/67/","http://swapi.co/api/people/68/","http://swapi.co/api/people/69/","http://swapi.co/api/people/74/","http://swapi.co/api/people/81/"],"films":["http://swapi.co/api/films/1/","http://swapi.co/api/films/2/","http://swapi.co/api/films/3/","http://swapi.co/api/films/4/","http://swapi.co/api/films/5/","http://swapi.co/api/films/6/"],"created":"2014-12-10T13:52:11.567000Z","edited":"2014-12-29T12:31:56.906164Z","url":"http://swapi.co/api/species/1/"}'
  recorded_at: Tue, 17 Feb 2015 00:23:18 GMT
recorded_with: VCR 2.9.3
