---
http_interactions:
- request:
    method: get
    uri: http://swapi.co/api/species/?page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":37,"next":"http://swapi.co/api/species/?page=3","previous":"http://swapi.co/api/species/?page=1","results":[{"name":"Toydarian","classification":"mammal","designation":"sentient","average_height":"120","skin_colors":"blue,
        green, grey","hair_colors":"none","eye_colors":"yellow","average_lifespan":"91","homeworld":"http://swapi.co/api/planets/34/","language":"Toydarian","people":["http://swapi.co/api/people/40/"],"films":["http://swapi.co/api/films/4/","http://swapi.co/api/films/5/"],"created":"2014-12-19T17:48:56.893000Z","edited":"2014-12-20T21:36:42.165000Z","url":"http://swapi.co/api/species/13/"},{"name":"Dug","classification":"mammal","designation":"sentient","average_height":"100","skin_colors":"brown,
        purple, grey, red","hair_colors":"none","eye_colors":"yellow, blue","average_lifespan":"unknown","homeworld":"http://swapi.co/api/planets/35/","language":"Dugese","people":["http://swapi.co/api/people/41/"],"films":["http://swapi.co/api/films/4/"],"created":"2014-12-19T17:53:11.214000Z","edited":"2014-12-20T21:36:42.167000Z","url":"http://swapi.[...]
