---
http_interactions:
- request:
    method: get
    uri: https://swapi.co/api/starships/10/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"58b8cde34f6325c36c09f3c65eb8ae57"
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"name":"Millennium Falcon","model":"YT-1300 light freighter","manufacturer":"Corellian
        Engineering Corporation","cost_in_credits":"100000","length":"34.37","max_atmosphering_speed":"1050","crew":"4","passengers":"6","cargo_capacity":"100000","consumables":"2
        months","hyperdrive_rating":"0.5","MGLT":"75","starship_class":"Light freighter","pilots":["https://swapi.co/api/people/13/","https://swapi.co/api/people/14/","https://swapi.co/api/people/25/","https://swapi.co/api/people/31/"],"films":["https://swapi.co/api/films/2/","https://swapi.co/api/films/7/","https://swapi.co/api/films/3/","https://swapi.co/api/films/1/"],"created":"2014-12-10T16:59:45.094000Z","edited":"2014-12-22T17:35:44.464156Z","url":"https://swapi.co/api/starships/10/"}'
  recorded_at: Tue, 28 Aug 2018 21:41:56 GMT
recorded_with: VCR 2.9.3
