---
http_interactions:
- request:
    method: get
    uri: https://swapi.co/api/vehicles/14/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"67f78dfc2d993c4d5ccdd9f840943f89"
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"name":"Snowspeeder","model":"t-47 airspeeder","manufacturer":"Incom
        corporation","cost_in_credits":"unknown","length":"4.5","max_atmosphering_speed":"650","crew":"2","passengers":"0","cargo_capacity":"10","consumables":"none","vehicle_class":"airspeeder","pilots":["https://swapi.co/api/people/1/","https://swapi.co/api/people/18/"],"films":["https://swapi.co/api/films/2/"],"created":"2014-12-15T12:22:12Z","edited":"2014-12-22T18:21:15.623033Z","url":"https://swapi.co/api/vehicles/14/"}'
  recorded_at: Tue, 28 Aug 2018 21:42:02 GMT
recorded_with: VCR 2.9.3
