---
http_interactions:
- request:
    method: get
    uri: http://swapi.co/api/vehicles/?page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":39,"next":"http://swapi.co/api/vehicles/?page=3","previous":"http://swapi.co/api/vehicles/?page=1","results":[{"name":"Bantha-II
        cargo skiff","model":"Bantha-II","manufacturer":"Ubrikkian Industries","cost_in_credits":"8000","length":"9.5","max_atmosphering_speed":"250","crew":"5","passengers":"16","cargo_capacity":"135000","consumables":"1
        day","vehicle_class":"repulsorcraft cargo skiff","pilots":[],"films":["http://swapi.co/api/films/3/"],"created":"2014-12-18T10:48:03.208000Z","edited":"2014-12-22T18:21:15.845988Z","url":"http://swapi.co/api/vehicles/25/"},{"name":"TIE/IN
        interceptor","model":"Twin Ion Engine Interceptor","manufacturer":"Sienar
        Fleet Systems","cost_in_credits":"unknown","length":"9.6","max_atmosphering_speed":"1250","crew":"1","passengers":"0","cargo_capacity":"75","consumables":"2
        days","vehicle_class":"starfighter","pilots":[],"films":["http://swapi.co/api/films/3/"],"created":"2014-12-18T10:50:28.225000Z","edited":"2014-12-22T18:21:15.882388Z","url":"http://swapi.co/ap[...]
