---
http_interactions:
- request:
    method: get
    uri: https://swapi.co/api/vehicles/?page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e2d546258dc865057344604dbcf4541b"
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"count":39,"next":"https://swapi.co/api/vehicles/?page=3","previous":"https://swapi.co/api/vehicles/?page=1","results":[{"name":"Bantha-II
        cargo skiff","model":"Bantha-II","manufacturer":"Ubrikkian Industries","cost_in_credits":"8000","length":"9.5","max_atmosphering_speed":"250","crew":"5","passengers":"16","cargo_capacity":"135000","consumables":"1
        day","vehicle_class":"repulsorcraft cargo skiff","pilots":[],"films":["https://swapi.co/api/films/3/"],"created":"2014-12-18T10:48:03.208000Z","edited":"2014-12-22T18:21:15.845988Z","url":"https://swapi.co/api/vehicles/25/"},{"name":"TIE/IN
        interceptor","model":"Twin Ion Engine Interceptor","manufacturer":"Sienar
        Fleet Systems","cost_in_credits":"unknown","length":"9.6","max_atmosphering_speed":"1250","crew":"1","passengers":"0","cargo_capacity":"75","consumables":"2
        days","vehicle_class":"starfighter","pilots":[],"films":["https://swapi.co/api/films/3/"],"created":"2014-12-18T10:50:28.225000Z","edited":"2014-12-22T18:21:15.882388Z","url":"https://swapi.co[...]
